@import "tailwindcss";

nav .active {
  text-decoration: underline;
  text-decoration-color: rgb(27, 27, 225);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px; /* space between text and underline */
}
